<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
          <title>Index - Job Matchers</title>
</head>

<body class="flex flex-col justify-center items-center h-screen">
          <div class="avatar mb-8">
                    <div class="w-48 md:w-72 mask mask-hexagon">
                              <img src="https://i.ibb.co/7vgbS1q/kiron3-modified.png" />
                    </div>
          </div>
          <h1 class="flex justify-center items-center text-3xl lg:text-5xl text-white">Hello, Job Matchers</h1>
          <a href="https://github.com/kiron0" target="_blank" class="btn btn-primary w-48 my-8">Follow On GitHub</a>
</body>

</html>